body{
    font-family: 'Anton', sans-serif;
    margin:0%
}
p{
    text-align:left;
    padding-bottom: 5px;
}

h1{
    font-size: 40px;
    text-align: left;
}

.blue-color{
    color:rgba(0, 0, 255, 0.856);
}
.flexible-area{
    display: flex;
}
.width{
    width: 30%;
    padding-left: 10%;
    margin-left: 10px;
    
  
}
.width img{
    width: 100%;
}
#border{
    border-left: 7px solid;
    border-image: linear-gradient(black,blue);
    border-image-slice: 1;
    margin-left: 10%;
    
    
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(blue,navy);
    padding: 7px 15px;
    border-radius: 7px;
}
.mission{
    width: 30%;
}
.mission img{
    width:30%;
}
 .mission-area{
    margin: 150px;   
}
#first-image{
    background-color: rgba(0, 0, 255, 0.185);
    padding: 20px;
    border-radius: 5px;
    margin-right: 2%;
}
#second-image{
    background-color: rgba(135, 207, 235, 0.493);
    padding: 20px;
    border-radius: 5px;
    margin-right: 2%;
}
#third-image{
    background-color: rgba(64, 224, 208, 0.507);
    padding: 20px;
    border-radius: 5px;
    margin-right: 2%;
}
.center{
    text-align: center;
}
.third-section{
    background-image: url(images/shapes/shape-7.png);
    background-repeat: no-repeat;
    background-position: left; 
    background-size: 15%;
}
.fourth-section{
    margin-top: 150px;
    background-image: url(images/shapes/shape-7.png);
    background-repeat: no-repeat;
    background-position: right; 
    background-size: 15%;
}
footer{
    background-color: black;
    color: white;
    text-align: center; 
    font-family: 'Dancing Script', cursive;
    margin-top: 100px;
    padding: 10px;
}
footer p{
    text-align: center;
}
span{
    color: blue;
}
.last-section{
    margin-top: 150px;
}